h1 {
  font-family: helvetica;
  font-weight: 200;
}

//General Ant
.layout {
  height: 100vh;
  overflow: scroll;
}
.center {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.font {
  font-family: 'Raleway', sans-serif;
}
label {
  font-family: 'Raleway', sans-serif;
}
//Spash Screen
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column
}
.logo {
  flex-grow: 1;
  width: 70%;
  object-fit: contain;
}
.login-button {
  flex-grow: 2;
}

// Application
.application-intro {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  padding-left: 20%;
  padding-right: 20%;
}


.menu-title {
  color: white;
  width: 120px;
  height: 31px;
  float: left;
}

.content-container {
  padding: 0 50px;
}

.content {
  background: #fff;
  padding: 24px;
  min-height: 75vh;
}

.ReactTable {
  text-align: center;
}

.img-box {
  display: flex;
}

.img-center {
  flex-grow: 1;
  object-fit: contain;
  padding-top: 20px;
}